.box{
    margin-top: 100px;
    margin-left: 100px;
}
#txtPassword, #txtEmail{
    height: 25px;
    border-top: none;
    border-left: none;
    border-right: none;
    text-align: center;
}

#txtPassword:focus, #txtEmail:focus{
    border-color: blue;
    outline: none;
}
#btnLogin {
    height: 40px;
    width: 90px;
    border-radius: 20px;
    outline: none;
    color: white;
    background-color: blue;
    border-color: blue;
    margin-left: 150px;
}
#btnRegister {
    height: 40px;
    width: 90px;
    border-radius: 100px;
    outline: none;
    color: white;
    background-color: green;
    border-color:green;
    margin-left: 10px;
}